
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

img{
    object-fit: cover;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    margin-bottom: 0;
}
